.masthead, .endmasthead {
    background-image: url(/assets/img/bg-masthead.jpg);
    background-size: cover;  
    background-position: center center;
  }
  
  .header-h {
    padding-top: 6rem;
  }

  .navbar {
    padding-left: 10rem;
    padding-right: 10rem;
  }