.btn-div {
    padding-top: 0.5rem;
    padding-bottom: 6rem;
  }
  
  .bi-tv {
    height: 6rem;
    margin: 0 auto;
    padding-top: 1.5rem;
  }
  
  .bi-layers {
    height: 6rem;
    margin: 0 auto;
    padding-top: 1.5rem;
  }
  
  .bi-check {
    height: 6rem;
    margin: 0 auto;
    padding-top: 1.5rem;
  }

  .showcase-text {
    padding: 3rem;
  }

  .testimonial-item {
    padding: 6rem;
  }